{
    "presets": ["@babel/preset-typescript"],
    "plugins": [
        [
            "@babel/plugin-transform-typescript",
            {
                "allowNamespaces": true
            }
        ],
        "@babel/plugin-transform-runtime",
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                "@src": "./src",
                "@env": "./envs",
                "@test": "./test"
                }
            }
        ]
    ]
}
